
*{
    box-sizing: border-box;
}

div{
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: -1px;

}



.vermelho{
    
    background-color: red;
    width: 200px;    
}
.amarelo{
   
    background-color: yellow;
    
}
.azul{
   
    background-color: #00B0F0;
    
}
.verde{
   
    background-color: #00B050;
    
}


.borda{
    border: 1px solid black;
}